<div class="container mt-4">
    <div class="cards">
        <div class="card" style="width: 18rem;">
            <img src="./../../../assets/img/imagen1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">LENOVO S/1,899</h5>
                <p class="card-text">IdeaCentre AIO 3i Intel Core i3 23.8" Full HD 1TB HDD 4GB RAM Business Black</p>
                <a href="#" class="btn btn-primary">Agregar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="./../../../assets/img/imagen2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">LENOVO S/2,299</h5>
                <p class="card-text">IdeaCentre A540 Intel Core i3 23.8" Full HD 1TB HDD 8GB RAM Industry Black</p>
                <a href="#" class="btn btn-primary">Agregar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="./../../../assets/img/imagen3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">LAPTOP LENOVO S/1,599</h5>
                <p class="card-text">IdeaPad 3i Intel Core i3 15.6" HD 256GB SSD 12GB RAM Abyss Blue</p>
                <a href="#" class="btn btn-primary">Agregar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="./../../../assets/img/imagen4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">LAPTOP LENOVO S/3,999</h5>
                <p class="card-text">IdeaPad 5i Intel Core i5 14" HD 256GB SSD 8GB RAM Graphite Grey</p>
                <a href="#" class="btn btn-primary">Agregar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="./../../../assets/img/imagen5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">LAPTOP ACER S/1,799</h5>
                <p class="card-text">Aspire 5 Intel Core i5 15.6" FHD IPS 8GB 256GB SSD W11

                </p>
                <a href="#" class="btn btn-primary">Agregar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="./../../../assets/img/imagen6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">LAPTOP ACER S/2,699</h5>
                <p class="card-text">Gamer Nitro 5 AN515-57-51L5 Core i5 11400H 8GB 256GB 15.6" FHD IPS GTX1650 4GB</p>
                <a href="#" class="btn btn-primary">Agregar</a>
            </div>
        </div>
    </div>


</div>